.header__logo {
  padding-bottom: 41px;
}

@media screen and (min-width: 320px) and (max-width: 782px) {
  .header__logo {
    width: 103.7px;
    height: 24.4px;
    padding: 28px 0 31.6px 27px;
  }
}
