.registration__form {
  max-width: 430px;
  background-color: #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  padding-bottom: 37px;
}
