.registration__login-redirect {
  min-width: 358px;
  margin: 15px 0 80px 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}
