.registration__submit-button {
  width: 358px;
  height: 50px;
  padding: 0;
  margin: 186px 36px 0 36px;
  border: none;
  color: #000000;
  background-color: #FFFFFF;
  transition: opacity .5s ease-in;
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
}

.registration__submit-button:hover {
  opacity: 0.6;
}
